.container-empty {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 45px;
    .empty-container {
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .img-div {

            width: 450px;
            height: 340px;
            border-radius: 20%;
            overflow: hidden;
            
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
